<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Safe Night</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/new-age.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }
    </style>

</head>

<body id="page-top">

<%- include('pages/snippets/navbar') %>

    <!-- main -->
    <!--<div class="container-fluid">-->
        <%- body %>
    <!--</div>-->

    <!-- contact -->
<section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>We <i class="fa fa-heart rainbow"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a target="_blank" href="https://twitter.com/SafeNight_io"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a target="_blank" href="https://www.facebook.com/Safe-Night-335007620283312/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- footer -->
<footer>
    <div class="container">
        <p>&copy; 2017 Safe Night. All Rights Reserved.</p>
        <!--<ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>-->
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/tether/tether.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/new-age.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>