.bonus{

}
.error {
  color: black;
}
.about {
  height: 50%;
  overflow: auto;
}

#mckinley {

}

#submit {
  color: black;
  background-color: white;
}

#who {

}

.kee {
  background-image: url("/img/kee.jpg");
  background-position: center;
  /*background-size: contain;*/
}

.mckinley{
  height: 100%;
  background-image: url("/img/mckinley.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.desc {
  margin: auto;
  text-align: center;
}

.desc h3 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
 height: 100%;
}

.mobile-pic {
  display: none;
}

@media (max-width: 575px) {
  .bonus{
    height: 100%;
    overflow: scroll;
  }
  .mobile-pic {
    display: inherit;
  }

  .non-mobile {
    display: none;
  }

  .kee {
    height: 100%;
  }

  .about {
    margin-bottom: 5%;
    overflow: auto;
  }
}