<div class="jumbotron text-center">
  <p>Safe night is an emergency housing app. For LGBTQ youth. We eventually want
     start looking into long term solutions for housing as well as job oprotunities
      for disadvanted youth</p>
</div>
