<section class="features bonus" id="who">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Who are we?</h2>
            <hr>
            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
        </div>
    </div>
</section>

<div class="container-fluid about" id="mckinley">
    <div class="row">
        <div class="col-sm-6 mckinley"></div>
        <div class="col-sm-6 desc">
            <h3>McKinley Forbes</h3>
            <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
        </div>
    </div>
</div>

<div class="sep"></div>

<div class="container-fluid about" id="kee">
    <div class="row">
        <div class="col-sm-6 kee mobile-pic"></div>
        <div class="col-sm-6 desc">
            <h3>Kee Tobar</h3>
            <p>"Whiquitta "Kee" Tobar is a civil rights attorney and the Co-founder of SafeNight, based in Philadelphia, Pennsylvania. Currently, she is a Stoneleigh Emerging Leader Fellow focusing on eradicating youth homelessness in the city of Philadelphia. Whiquitta is a graduate of Alabama A&M University and Georgetown Law Center.

                Before becoming a Stoneleigh Emerging Leader Fellow at Community Legal Service of Philadelphia Whiquitta was a Zubrow Fellow, focusing on juvenile economic justice policy, national aftercare and transition policy for system involved youth (both child welfare and juvenile justice), and youth homelessness, at Juvenile Law Center, the oldest children's law firm in the country.

                In her spare time Whiquitta enjoys creating and coordinating educational programming and experiences for LGBTQ identified youth of color from her home state of Arkansas and the surrounding southern states. "</p>
        </div>
        <div class="col-sm-6 kee non-mobile"></div>
    </div>
</div>
