<section class="features" id="features">
    <div class="container">
        <ul>
            <a href="admin/berlin">
                <li>Berlin</li>
            </a>
            <a href="admin/austin">
                <li>Austin</li>
            </a>
            <a href="admin/portland">
                <li>Portland</li>
            </a>
        </ul>

    </div>
</section>