<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">


                    </div>
                </div>
            </div>
            <%- include('snippets/form') %>
        </div>
    </div>
</header>

