<header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Safe Night is an app that connects LGBT youth in crisis with safe  emergency housing</h1>
                            <a href="#signup" class="btn btn-outline btn-xl">Beta Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/demo-screen-2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<%- include('snippets/form') %>

    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>The Emergency Housing App</h2>
                <p class="text-muted">How do we put those in need with the best housing option?</p>
                <hr>
            </div>
            <div class="row">
                </div>
            <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-home text-primary"></i>
                                    <h3>Safe Houses</h3>
                                    <p class="text-muted">Every space that is available has been vetted by a member of our team to ensure the most comfortable
                                    emergency housing</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-user-following text-primary"></i>
                                    <h3>Vetted Host</h3>
                                    <p class="text-muted">Every host is thoroughly vetted to ensure the safety of those seeking housing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-organization text-primary"></i>
                                    <h3>Organized Network</h3>
                                    <p class="text-muted">We provide a network of different housing options to allow for the safest possible housing</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-bubbles text-primary"></i>
                                    <h3>Dialog</h3>
                                    <p class="text-muted">We discuss all housing possibilities with those seeking housing to provide a safe and comfortable experience for both the host and the guest </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta" id="about">
        <div class="cta-content">
            <div class="container about-group">
                <h2>Who Are We?</h2>
                <a href="about" class="btn btn-outline btn-xl">About Us</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>




